certifi==2026.7.22
charset-normalizer==3.5.1
cloudinary==1.46.2
customtkinter==6.0.0
darkdetect==0.8.0
django-cloudinary-storage==0.3.0
greenlet==3.5.4
idna==3.19
packaging==26.3
requests==2.34.2
six==1.17.0
SQLAlchemy==2.0.51
typing_extensions==4.16.0
urllib3==2.7.0
